<a href="https://colab.research.google.com/github/NgaanLee/DataAnalystDeepLearning/blob/main/Homeworks_Lap01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dữ liệu dulieuxettuyendaihoc.csv được mô tả như sau: Dữ liệu lưu trữ điểm trung bình môn, khu vực, khối thi và điểm thi đại học của 100 học sinh.

* T1, L1, H1, S1, V1, X1, D1, N1 lần lượt là điểm trung bình các môn Toán, Lý, Hóa, Sinh, Văn, Sử, Địa, Ngoại ngữ năm lớp 10
* T2, L2, H2, S2, V2, X2, D2, N2 lần lượt là điểm trung bình các môn Toán, Lý, Hóa, Sinh, Văn, Sử, Địa, Ngoại ngữ năm lớp 11
* T6, L6, H6, S6, V6, X6, D6, N6 lần lượt là điểm trung bình các môn Toán, Lý, Hóa, Sinh, Văn, Sử, Địa, Ngoại ngữ năm lớp 12
* GT: Giới tính
* DT: Dân tộc
* KV, KT lần lượt là khu vực thi và khối thi
* DH1, DH2, DH3 lần lượt là điểm thi đại học môn 1, môn 2, môn 3

**Sử dụng Pandas để thực hiện các yêu cầu sau đây:**

1. Xác định và phân loại dữ liệu định tính và định lượng
2. Định nghĩa các thang đo phù hợp cho từng biến số
3. Sử dụng Python để tải dữ liệu lên chương trình và in ra màn hình 10 dòng đầu tiên và 10 dòng cuối cùng
4. Thống kê dữ liệu thiếu cho cột dân tộc và hiệu chỉnh dữ liệu thiếu như sau: Mặc định thiếu thì điền giá trị 0. Hướng dẫn:

> Lập bảng tần số, tần suất để khảo sát dữ liệu thiếu, bao nhiêu dữ liệu riêng biệt (pandas unique).


> Thực hiện thay thế dữ liệu thiếu bằng phương pháp điền dữ liệu 0



1. Thống kê dữ liệu thiếu cho biến T1 và hiệu chỉnh dữ liệu, lưu ý việc thay thế dữ liệu thiếu sử dụng phương pháp Mean. Hướng dẫn

> Lập bảng tần số, tần suất để khảo sát dữ liệu thiếu.
 
> Thực hiện thay thế dữ liệu thiếu bằng phương pháp Mean.

1. Hãy thực hiện xử lý lần lượt tất cả dữ liệu thiếu cho các biến về điểm số còn lại.
2. Tạo các biến TBM1, TBM2, TBM3 tương ứng với trung bình môn của các năm lớp 10, 11 và 12. • Công thức tính: TBM = (T2 + L + H + S + V2 + X + D + N) / 10
3. Tạo các biến xếp loại XL1, XL2 và XL3 dựa trên TBM1, TBM2 và TBM3 cho từng năm lớp 10, 11, 12 như sau: • Nhỏ hơn 5.0 xếp loại: yếu (kí hiệu là Y) • Từ 5.0 đến dưới 6.5: trung bình (kí hiệu là TB) • Từ 6.5 đến dưới 8.0: khá (kí hiệu là K) • Từ 8.0 đến dưới 9.0: giỏi (kí hiệu là G) • Từ 9.0 trở lên: xuất sắc (kí hiệu là XS)
4. Tạo các biến US_TBM1, US_TBM2 và US_TBM3 để chuyển điểm trung bình các năm lớp 10, 11 và 12 từ thang điểm 10 của Việt Nam sang thang điểm 4 của Mỹ. Sử dụng phương pháp Min-Max Normalization
5. Tạo biến kết quả xét tuyển (kí hiệu là KQXT) nhằm xác định sinh viên đậu (giá trị “1”) và rớt (giá trị “0”) vào các khối dựa trên điểm DH1, DH2 và DH3 như sau • Với khối A, A1 nếu [(DH12 + DH2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt • Với khối B nếu [(DH1 + DH22 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt • Với khối khác nếu [(DH1+ DH2 + DH3)/3] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt
6. Lưu trữ dữ liệu xuống ổ đĩa thành file processed_dulieuxettuyendaihoc.csv

In [1]:
# Khai báo thư viện
import pandas as pd
import numpy as np

**Lấy dữ liệu từ nguồn thầy đưa**

In [3]:
dulieuxettuyen = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv")
print (dulieuxettuyen.head(10))

   STT   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
0    1  7.2  7.3  6.3  7.3  7.0  7.9  ...   F NaN  2NT  3.25  3.25  4.50  A1
1    2  5.4  3.9  3.9  4.0  5.4  5.4  ...   M NaN    1  6.00  4.00  3.50   C
2    3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M NaN    1  5.00  6.75  4.00   C
3    4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M NaN    1  4.25  4.25  5.25  D1
4    5  6.0  5.0  6.0  7.3  6.5  7.7  ...   M NaN  2NT  4.25  4.50  5.00   A
5    6  9.3  7.6  7.9  8.6  7.0  7.3  ...   M NaN    1  1.50  4.00  6.00  D1
6    7  2.8  3.9  5.5  6.9  5.0  7.3  ...   F NaN    2  6.50  6.75  5.25   C
7    8  8.3  6.0  7.6  5.1  7.5  4.7  ...   F NaN    2  3.75  4.50  4.25  D1
8    9  6.5  6.3  7.6  6.0  5.5  7.1  ...   F NaN    1  3.50  3.50  6.75  D1
9   10  7.3  5.9  4.7  7.1  6.7  7.9  ...   F NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]

In [4]:
# Kết nối với Drive lấy dữ liệu với mục đích sử dụng lâu dài
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [6]:
# Lưu dữ liệu trên Drive
frame = pd.DataFrame(dulieuxettuyen)
frame.to_csv('/drive/My Drive/DataAnalyst/dulieuxettuyen.csv')

In [8]:
df = pd.read_csv("/drive/My Drive/DataAnalyst/dulieuxettuyen.csv", index_col = "STT")

***1. Xác định và phân loại dữ liệu định tính và định lượng***

In [10]:
# dữ liệu định tính
df.dtypes

Unnamed: 0      int64
T1            float64
L1            float64
H1            float64
S1            float64
V1            float64
X1            float64
D1            float64
N1            float64
T2            float64
L2            float64
H2            float64
S2            float64
V2            float64
X2            float64
D2            float64
N2            float64
T3            float64
L3            float64
H3            float64
S3            float64
V3            float64
X3            float64
D3            float64
N3            float64
T4            float64
L4            float64
H4            float64
S4            float64
V4            float64
X4            float64
D4            float64
N4            float64
T5            float64
L5            float64
H5            float64
S5            float64
V5            float64
X5            float64
D5            float64
N5            float64
T6            float64
L6            float64
H6            float64
S6            float64
V6            float64
X6            float64
D6            float64
N6            float64
GT             object
DT            float64
KV             object
DH1           float64
DH2           float64
DH3           float64
KT             object
dtype: object

In [11]:
# dữ liệu định lượng
df.values

array([[0, 7.2, 7.3, ..., 3.25, 4.5, 'A1'],
       [1, 5.4, 3.9, ..., 4.0, 3.5, 'C'],
       [2, 5.6, 6.8, ..., 6.75, 4.0, 'C'],
       ...,
       [97, 8.8, 5.5, ..., 8.0, 4.0, 'C'],
       [98, 2.7, 1.8, ..., 3.5, 5.5, 'C'],
       [99, 4.1, 5.2, ..., 2.5, 4.25, 'C']], dtype=object)

In [12]:
df.value_counts

<bound method DataFrame.value_counts of      Unnamed: 0   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
STT                                            ...
1             0  7.2  7.3  6.3  7.3  7.0  7.9  ...   F NaN  2NT  3.25  3.25  4.50  A1
2             1  5.4  3.9  3.9  4.0  5.4  5.4  ...   M NaN    1  6.00  4.00  3.50   C
3             2  5.6  6.8  7.2  7.5  4.3  7.4  ...   M NaN    1  5.00  6.75  4.00   C
4             3  6.6  6.4  5.3  6.9  5.4  7.3  ...   M NaN    1  4.25  4.25  5.25  D1
5             4  6.0  5.0  6.0  7.3  6.5  7.7  ...   M NaN  2NT  4.25  4.50  5.00   A
..          ...  ...  ...  ...  ...  ...  ...  ...  ..  ..  ...   ...   ...   ...  ..
96           95  8.6  6.9  7.4  8.8  7.6  5.8  ...   F NaN    1  5.25  1.50  6.25   C
97           96  3.7  5.4  6.0  5.1  5.5  3.9  ...   F NaN    1  5.25  3.75  4.75   C
98           97  8.8  5.5  7.4  7.7  6.2  7.3  ...   M NaN  2NT  7.00  8.00  4.00   C
99           98  2.7  1.8  3.4  5.3  4.5  7.9  ...   M NaN    1  5.00  3.50  5.50   C
100          99  4.1  5.2  4.9  5.3  5.5  5.4  ...   M NaN  2NT  5.25  2.50  4.25   C

[100 rows x 56 columns]>

***2. Định nghĩa các thang đo phù hợp cho từng biến số***

***3. Sử dụng Python để tải dữ liệu lên chương trình và in ra màn hình 10 dòng đầu tiên và 10 dòng cuối cùng***